.logo {
  height: 50px;
  margin-top: 8px;
}

.sr-only{
  color: black;
  font-size: 1.5rem;
}

.error-status {
  color: darkred;
  font-size: larger;
  font-weight: bolder;
}

.error-message {
  color: darkred;
}

button[type="submit"] {
  margin-bottom: 20px;
}

body {
  background-color: #f9f9f9;
}

footer {
  text-align: center;
}

.item-list .card {
  margin: 20px;
  display: inline-flex;
  vertical-align: top;
}

.card-img-top {
  width: 304px;
  height: 236px;
}

.carousel_image {
  width: 100%;
  height: 450px;
}

.carousel-caption h2 {
  color:crimson;
  font:bold;
}

.carousel-empty {
  text-align: center;
  width: 100%;
  height: 150px;
}

#dropdownUser1 {
  padding-left: 20px;
}
